.CommentBox {
  display: inline-block;
  width: calc(50% - 20px);
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .date {
    font-weight: 300;
    font-size: 10px;
  }

  .author {
    width: 100%;
    text-align: right;
    display: block;
  }
}